<!DOCTYPE html>
<html lang="en">

<head>
    {%load static %}
    <link rel="stylesheet" href="{% static 'tracker.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Job Tracker</title>
</head>

<body>
    <div class="container text-center">
        <h1 class="display-4 text-center font-weight-bold">Trackr</h1>
    </div>

    <div class="trackr-container">

        <div class="content-wrapper">

            <div class="job-and-filter-section">
                <!-- NEW JOB SECTION -->
                <section>
                    <h3>Create a New Job</h3>
                    <form id="jobForm" method="post" class="text-center">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="company_name">Company Name:</label>
                            <input type="text" id="company_name" name="company_name" required>
                        </div>

                        <div class="form-group">
                            <label for="position_title">Position Title:</label>
                            <input type="text" id="position_title" name="position_title" required>
                        </div>

                        <div class="form-group">
                            <label for="location">Location:</label>
                            <input type="text" id="location" name="location" required>
                        </div>

                        <div class="form-group">
                            <label for="application_link">Application Link:</label>
                            <input type="url" id="application_link" name="application_link" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="deadline">Deadline:</label>
                            <input type="date" id="deadline" name="deadline" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="applied_status">Applied:</label>
                            <select id="applied_status" name="applied_status" required>
                                <option value="False">Not Applied</option>
                                <option value="True">Applied</option>
                            </select>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2" onclick="submitJob(event)">Create Job</button>
                    </form>
                </section>

                        <!-- FILTER SECTION -->
                <section>
                    <h3>Filters</h3>
                    <form id="filterForm">
                        <div class="filter-company-name-wrapper">
                            <label for="filterCompanyName">Company Name:</label>
                            <select id="filterCompanyName" name="company_name">
                                <option value="">All Companies</option>
                                {% for company in companies %}
                                <option value="{{ company }}">{{ company }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="filter-status-wrapper">
                            <label for="filterStatus">Status:</label>
                            <select id="filterStatus" name="applied_status">
                                <option value="">All</option>
                                <option value="True">Applied</option>
                                <option value="False">Not Applied</option>
                            </select>
                        </div>

                        <div class="filter-buttons-wrapper">
                            <button type="submit" class="btn btn-primary mt-2">Filter</button>
                            <button type="button" id="clearFilters" class="btn btn-warning mt-2">Clear Filters</button>
                        </div>

                    </form>
                </section>
            </div>
            
            <!-- JOB LIST SECTION -->
            <section>
                <h3>My Jobs</h3>
                <ul id="jobList">
                    {% for job in jobs %}
                    <li>
                        <strong>{{ job.position_title }} at {{ job.company_name }}</strong><br>
                        Location: {{ job.location }}<br>
                        Application Link: <a href="{{ job.application_link }}">{{ job.application_link }}</a><br>
                        Deadline: {{ job.deadline }}<br>
                        Status: {{ job.get_applied_status_display }}
                        <form action="{% url 'delete_job' job.id %}" method="post" onsubmit="return confirmDelete()">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger mt-2">Delete</button>
                        </form>

                        <script>
                            function confirmDelete() {
                                return confirm('Are you sure you want to delete this job?');
                            }
                        </script>
                    </li>
                    {% endfor %}
                </ul>
            </section>

        </div>

        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary mt-2">Logout</button>
        </form>

        <!-- JOB CREATION SCRIPT -->
        <script>
            function submitJob(event) {
                event.preventDefault();
                var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

                var data = {
                    company_name: document.getElementById('company_name').value,
                    position_title: document.getElementById('position_title').value,
                    location: document.getElementById('location').value,
                    application_link: document.getElementById('application_link').value,
                    deadline: document.getElementById('deadline').value,
                    applied_status: document.getElementById('applied_status').value,
                };

                fetch('/create_job/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        if (data.status === 'success') {
                            const jobList = document.getElementById('jobList');
                            const li = document.createElement('li');
                            li.innerHTML = `
                            <strong>${data.job.position_title} at ${data.job.company_name}</strong><br>
                            Location: ${data.job.location}<br>
                            Application Link: <a href="${data.job.application_link}">${data.job.application_link}</a><br>
                            Deadline: ${data.job.deadline}<br>
                            Status: ${data.job.applied_status_display}
                        `;
                            jobList.appendChild(li);
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });

            }
        </script>

        <!-- FILTER SCRIPT -->
        <script>
            document.getElementById('filterForm').addEventListener('submit', function (event) {
                event.preventDefault();
                const companyName = document.getElementById('filterCompanyName').value;
                const status = document.getElementById('filterStatus').value;

                const url = `/fetch_filtered_jobs/?company_name=${encodeURIComponent(companyName)}&applied_status=${encodeURIComponent(status)}`;

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        const jobs = data.jobs;
                        const jobListElement = document.getElementById('jobList');
                        jobListElement.innerHTML = '';

                        jobs.forEach(job => {
                            const li = document.createElement('li');
                            li.innerHTML = `
                            <strong>${job.position_title} at ${job.company_name}</strong><br>
                            Location: ${job.location}<br>
                            Application Link: <a href="${job.application_link}">${job.application_link}</a><br>
                            Deadline: ${job.deadline}<br>
                            Status: ${job.applied_status ? 'Applied' : 'Not Applied'}
                            <form action="/delete_job/${job.id}/" method="post" onsubmit="return confirmDelete()">
                                <input type="hidden" name="csrfmiddlewaretoken" value="${getCsrfToken()}">
                                <button type="submit" class="btn btn-danger mt-2">Delete</button>
                            </form>
                        `;
                            jobListElement.appendChild(li);
                        });
                    })
                    .catch(error => {
                        console.error('Error fetching filtered jobs:', error);
                    });
            });

            function getCsrfToken() {
                return document.querySelector('[name=csrfmiddlewaretoken]').value;
            }

            function confirmDelete() {
                return confirm('Are you sure you want to delete this job?');
            }
        </script>


        <!-- CLEAR FILTERS SCRIPT-->
        <script>
            document.getElementById('clearFilters').addEventListener('click', function () {
                document.getElementById('filterCompanyName').selectedIndex = 0;
                document.getElementById('filterStatus').selectedIndex = 0;

                document.getElementById('filterForm').submit();
            });
        </script>
    </div>




</body>

</html>