<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Job Tracker</title>
</head>

<body>
    <h2>Job Trackr</h2>
    {% if user.is_authenticated %}
    <h3>User Email: {{ user.email }}</h3>
    {% endif %}
    {% if user.is_authenticated %}
    <p>Username: {{ user.username }}</p>
    {% else %}
    <p>No user is currently logged in.</p>
    {% endif %}

    <!-- Section for creating a new job -->
    <section>
        <h3>Create a New Job</h3>
        <form id="jobForm" method="post">
            {% csrf_token %}
            <label for="company_name">Company Name:</label>
            <input type="text" id="company_name" name="company_name" required>

            <label for="position_title">Position Title:</label>
            <input type="text" id="position_title" name="position_title" required>

            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>

            <label for="application_link">Application Link:</label>
            <input type="url" id="application_link" name="application_link" required>

            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline" required>

            <label for="applied_status">Applied:</label>
            <select id="applied_status" name="applied_status" required>
                <option value="False">Not Applied</option>
                <option value="True">Applied</option>
            </select>

            <button type="submit" onclick="submitJob(event)">Create Job</button>
        </form>
    </section>

    <!-- Section for filtering -->
    <section>
        <form id="filterForm">
            <h3>Filters</h3>
            <label for="filterCompanyName">Company Name:</label>
            <select id="filterCompanyName" name="company_name">
                <option value="">All Companies</option>
                {% for company in companies %}
                <option value="{{ company }}">{{ company }}</option>
                {% endfor %}
            </select>
            <label for="filterStatus">Status:</label>
            <select id="filterStatus" name="applied_status">
                <option value="">All</option>
                <option value="True">Applied</option>
                <option value="False">Not Applied</option>
            </select>

            <button type="submit">Filter</button>
            <button type="button" id="clearFilters">Clear Filters</button>
        </form>
    </section>

    <!-- Section to list all jobs -->
    <section>
        <h3>My Jobs</h3>
        <ul id="jobList">
            {% for job in jobs %}
            <li>
                <strong>{{ job.position_title }} at {{ job.company_name }}</strong><br>
                Location: {{ job.location }}<br>
                Application Link: <a href="{{ job.application_link }}">{{ job.application_link }}</a><br>
                Deadline: {{ job.deadline }}<br>
                Status: {{ job.get_applied_status_display }}
                <form action="{% url 'delete_job' job.id %}" method="post" onsubmit="return confirmDelete()">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>

                <script>
                    function confirmDelete() {
                        return confirm('Are you sure you want to delete this job?');
                    }
                </script>
            </li>
            {% endfor %}
        </ul>
    </section>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <!-- JOB CREATION SCRIPT -->
    <script>
        function submitJob(event) {
            event.preventDefault();
            var csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

            var data = {
                company_name: document.getElementById('company_name').value,
                position_title: document.getElementById('position_title').value,
                location: document.getElementById('location').value,
                application_link: document.getElementById('application_link').value,
                deadline: document.getElementById('deadline').value,
                applied_status: document.getElementById('applied_status').value,
            };

            fetch('/create_job/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.status === 'success') {
                        const jobList = document.getElementById('jobList');
                        const li = document.createElement('li');
                        li.innerHTML = `
                        <strong>${data.job.position_title} at ${data.job.company_name}</strong><br>
                        Location: ${data.job.location}<br>
                        Application Link: <a href="${data.job.application_link}">${data.job.application_link}</a><br>
                        Deadline: ${data.job.deadline}<br>
                        Status: ${data.job.applied_status_display}
                    `;
                        jobList.appendChild(li);
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

        }
    </script>

    <!-- FILTER SCRIPT -->
    <script>
        document.getElementById('filterForm').addEventListener('submit', function (event) {
            event.preventDefault();
            const companyName = document.getElementById('filterCompanyName').value;
            const status = document.getElementById('filterStatus').value;

            const url = `/fetch_filtered_jobs/?company_name=${encodeURIComponent(companyName)}&applied_status=${encodeURIComponent(status)}`;

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const jobs = data.jobs;
                    const jobListElement = document.getElementById('jobList');
                    jobListElement.innerHTML = '';

                    jobs.forEach(job => {
                        const li = document.createElement('li');
                        li.innerHTML = `
                        <strong>${job.position_title} at ${job.company_name}</strong><br>
                        Location: ${job.location}<br>
                        Application Link: <a href="${job.application_link}">${job.application_link}</a><br>
                        Deadline: ${job.deadline}<br>
                        Status: ${job.applied_status ? 'Applied' : 'Not Applied'}
                        <form action="/delete_job/${job.id}/" method="post" onsubmit="return confirmDelete()">
                            <input type="hidden" name="csrfmiddlewaretoken" value="${getCsrfToken()}">
                            <button type="submit">Delete</button>
                        </form>
                    `;
                        jobListElement.appendChild(li);
                    });
                })
                .catch(error => {
                    console.error('Error fetching filtered jobs:', error);
                });
        });

        function getCsrfToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function confirmDelete() {
            return confirm('Are you sure you want to delete this job?');
        }
    </script>


    <!-- CLEAR FILTERS SCRIPT-->
    <script>
        document.getElementById('clearFilters').addEventListener('click', function () {
            document.getElementById('filterCompanyName').selectedIndex = 0;
            document.getElementById('filterStatus').selectedIndex = 0;

            document.getElementById('filterForm').submit();
        });
    </script>



</body>

</html>